<!DOCTYPE html>
<html lang="en">
<head>
    <meta charSet="utf-8" data-next-head=""/>
    <meta name="viewport" content="width=device-width" data-next-head=""/>
    <title>SendTheSong - Express Your Feelings Through Music | Musical Messages</title>
    <meta name="description"
          content="Send meaningful songs to friends and loved ones. Share emotions through music, create dedications, and express your feelings in a unique way. The perfect platform for musical messages."/>
    <meta property="og:title" content="SendTheSong - Express Your Feelings Through Music | Musical Messages"/>
    <meta property="og:description"
          content="Send meaningful songs to friends and loved ones. Share emotions through music, create dedications, and express your feelings in a unique way. The perfect platform for musical messages."/>
    <meta property="og:image" content="https://sendthesong.xyz/og.png"/>
    <meta property="og:url" content="https://sendthesong.xyz"/>
    <meta property="og:type" content="website"/>
    <meta property="og:locale" content="en_US"/>
    <meta property="og:site_name" content="SendTheSong"/>
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="630"/>
    <meta property="og:image:alt" content="SendTheSong - Express Your Feelings Through Music | Musical Messages"/>
    <meta property="og:image:type" content="image/png"/>
    <meta property="twitter:card" content="summary_large_image"/>
    <meta property="twitter:creator" content="@sendthesong"/>
    <meta property="twitter:title" content="SendTheSong - Express Your Feelings Through Music | Musical Messages"/>
    <meta property="twitter:description"
          content="Send meaningful songs to friends and loved ones. Share emotions through music, create dedications, and express your feelings in a unique way. The perfect platform for musical messages."/>
    <meta property="twitter:image" content="https://sendthesong.xyz/og.png"/>
    <link rel="icon" href="/icon-512x512.png"/>
    <meta name="theme-color" content="#ffffff"/>
    <link rel="manifest" href="/manifest.json"/>
    <meta name="color-scheme" content="light"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="apple-mobile-web-app-title" content="SendTheSong"/>
    <link rel="apple-touch-icon" href="/icon-192x192.png"/>
    <link rel="preload" href="/_next/static/css/8a6afbaeb397507f.css" as="style"/>
    <link rel="stylesheet" href="/_next/static/css/8a6afbaeb397507f.css" data-n-g=""/>
    <noscript data-n-css=""></noscript>
    <script defer="" nomodule="" src="/_next/static/chunks/polyfills-42372ed130431b0a.js"></script>
    <script defer="" src="https://static.cloudflareinsights.com/beacon.min.js"
            data-cf-beacon="{&quot;token&quot;: &quot;7a57dc152e0943588e7ad1a26361d287&quot;}"
            data-nscript="beforeInteractive"></script>
    <script src="/_next/static/chunks/webpack-3bcb7a253d2b7373.js" defer=""></script>
    <script src="/_next/static/chunks/framework-384d27dd06c6faf3.js" defer=""></script>
    <script src="/_next/static/chunks/main-fbd043a94b31f649.js" defer=""></script>
    <script src="/_next/static/chunks/pages/_app-f45d290ef4eb0435.js" defer=""></script>
    <script src="/_next/static/chunks/478-fa1cfcc445f842fc.js" defer=""></script>
    <script src="/_next/static/chunks/664-0ce6e57ca6fa1192.js" defer=""></script>
    <script src="/_next/static/chunks/pages/index-0883b39368c57649.js" defer=""></script>
    <script src="/_next/static/enqL1j8SPFLJ7HzjFWjBs/_buildManifest.js" defer=""></script>
    <script src="/_next/static/enqL1j8SPFLJ7HzjFWjBs/_ssgManifest.js" defer=""></script>
</head>
<body class="antialiased">
<div id="__next">
    <main class="flex min-h-screen flex-col">
        <nav class="fixed inset-x-0 top-0 bg-white z-[10] border-b border-zinc-300">
            <div class="flex items-center justify-between h-16 px-4 sm:px-6 lg:px-8 mx-auto max-w-7xl"><a
                class="flex items-center text-3xl font-beanie" href="/">sendthesong</a>
                <ul class="flex space-x-6">
                    <li><a class="text-gray-600 hover:text-gray-800" href="/submit">Submit</a></li>
                    <li><a class="text-gray-600 hover:text-gray-800" href="/browse">Browse</a></li>
                    <li><a class="text-gray-600 hover:text-gray-800" href="/support">Support</a></li>
                </ul>
            </div>
        </nav>
    </main>
</div>
<script id="__NEXT_DATA__" type="application/json">{
    "props": {
        "pageProps": {}
    },
    "page": "/",
    "query": {},
    "buildId": "enqL1j8SPFLJ7HzjFWjBs",
    "nextExport": true,
    "autoExport": true,
    "isFallback": false,
    "scriptLoader": []
}</script><!-- Cloudflare Pages Analytics -->
<script defer src='https://static.cloudflareinsights.com/beacon.min.js'
        data-cf-beacon='{"token": "8b3ecfeeb9c64e9d84961d97f5127ea3"}'></script><!-- Cloudflare Pages Analytics -->
<script>(function () {
    function c() {
        var b = a.contentDocument || a.contentWindow.document;
        if (b) {
            var d = b.createElement('script');
            d.innerHTML = "window.__CF$cv$params={r:'8e16ae509b447681',t:'MTczMTQxNjE3NC4wMDAwMDA='};var a=document.createElement('script');a.nonce='';a.src='/cdn-cgi/challenge-platform/scripts/jsd/main.js';document.getElementsByTagName('head')[0].appendChild(a);";
            b.getElementsByTagName('head')[0].appendChild(d)
        }
    }

    if (document.body) {
        var a = document.createElement('iframe');
        a.height = 1;
        a.width = 1;
        a.style.position = 'absolute';
        a.style.top = 0;
        a.style.left = 0;
        a.style.border = 'none';
        a.style.visibility = 'hidden';
        document.body.appendChild(a);
        if ('loading' !== document.readyState) c(); else if (window.addEventListener) document.addEventListener('DOMContentLoaded', c); else {
            var e = document.onreadystatechange || function () {
            };
            document.onreadystatechange = function (b) {
                e(b);
                'loading' !== document.readyState && (document.onreadystatechange = e, c())
            }
        }
    }
})();</script>
</body>
</html>
